<a href="https://colab.research.google.com/github/rithika270305/Pandas-Learnings/blob/main/pandas2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
imdb=pd.read_csv("imdb-top-1000.csv")

**1.ALL ABOUT GROUPBY**

In [3]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Runtime        1000 non-null   int64
 3   Genre          1000 non-null   object
 4   IMDB_Rating    1000 non-null   float64
 5   Director       1000 non-null   object
 6   Star1          1000 non-null   object
 7   No_of_Votes    1000 non-null   int64
 8   Gross          1000 non-null   float64
 9   Metascore      843 non-null    float64
dtypes: float64(3), int64(2), object(5)
memory usage: 78.3+ KB

In [4]:
genres=imdb.groupby("Genre")

In [5]:
genres

In [6]:
imdb.groupby('Genre')['Gross'].sum().sort_values(ascending=False) # Total gross for each genre

Genre
Drama        3.540997e+10
Action       3.263226e+10
Comedy       1.566387e+10
Animation    1.463147e+10
Adventure    9.496922e+09
Crime        8.452632e+09
Biography    8.276358e+09
Mystery      1.256417e+09
Horror       1.034649e+09
Fantasy      7.827267e+08
Family       4.391106e+08
Film-Noir    1.259105e+08
Western      5.822151e+07
Thriller     1.755074e+07
Name: Gross, dtype: float64

In [7]:
imdb.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0

In [8]:
imdb.groupby('Genre')['No_of_Votes'].sum().sort_values(ascending=False)  #Total number of votes for each genre

Genre
Action       72282412
Drama        61367304
Crime        33533615
Comedy       27620327
Biography    24006844
Adventure    22576163
Animation    21978630
Mystery       4203004
Horror        3742556
Western       1289665
Family         551221
Film-Noir      367215
Fantasy        146222
Thriller        27733
Name: No_of_Votes, dtype: int64

In [9]:
a=imdb.groupby('Genre')['IMDB_Rating'].idxmax().sort_values() # Highest rated movie in each genre

In [10]:
imdb.loc[a] # idxmax returns index of max value not value itself

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
7,Schindler's List,1993,195,Biography,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
12,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0
19,Gisaengchung,2019,132,Comedy,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
21,Interstellar,2014,169,Adventure,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
23,Sen to Chihiro no kamikakushi,2001,125,Animation,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
49,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
69,Memento,2000,113,Mystery,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
309,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0

In [11]:
imdb.groupby('Director').size().sort_values(ascending=False) # Number of movies directed by each director, size returns number of items in each group

Director
Alfred Hitchcock        14
Steven Spielberg        13
Hayao Miyazaki          11
Martin Scorsese         10
Akira Kurosawa          10
                        ..
Je-kyu Kang              1
Jean-Pierre Melville     1
Jee-woon Kim             1
Jeethu Joseph            1
Joseph Sargent           1
Length: 548, dtype: int64

In [12]:
len(imdb.groupby("Genre")) # returns number of groups formed, here 14 genres

14

In [13]:
imdb.groupby('Genre').get_group('Horror') # get_group returns all the rows within the specified genre

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
49,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
75,Alien,1979,117,Horror,8.4,Ridley Scott,Sigourney Weaver,787806,78900000.0,89.0
271,The Thing,1982,109,Horror,8.1,John Carpenter,Kurt Russell,371271,13782838.0,57.0
419,The Exorcist,1973,122,Horror,8.0,William Friedkin,Ellen Burstyn,362393,232906145.0,81.0
544,Night of the Living Dead,1968,96,Horror,7.9,George A. Romero,Duane Jones,116557,89029.0,89.0
707,The Innocents,1961,100,Horror,7.8,Jack Clayton,Deborah Kerr,27007,2616000.0,88.0
724,Get Out,2017,104,Horror,7.7,Jordan Peele,Daniel Kaluuya,492851,176040665.0,85.0
844,Halloween,1978,91,Horror,7.7,John Carpenter,Donald Pleasence,233106,47000000.0,87.0
876,The Invisible Man,1933,71,Horror,7.7,James Whale,Claude Rains,30683,298791505.0,87.0
932,Saw,2004,103,Horror,7.6,James Wan,Cary Elwes,379020,56000369.0,46.0
948,The Others,2001,101,Horror,7.6,Alejandro Amenbar,Nicole Kidman,337651,96522687.0,74.0

In [14]:
imdb.groupby('Genre').first() #Every group first row

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark Knight,2008,152,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
Adventure,Interstellar,2014,169,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
Animation,Sen to Chihiro no kamikakushi,2001,125,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
Biography,Schindler's List,1993,195,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
Comedy,Gisaengchung,2019,132,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
Crime,The Godfather,1972,175,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
Drama,The Shawshank Redemption,1994,142,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
Family,E.T. the Extra-Terrestrial,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
Film-Noir,The Third Man,1949,104,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
Horror,Psycho,1960,109,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
Mystery,Memento,2000,113,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1966,161,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

In [15]:
imdb.groupby('Genre').last() #Every group last row

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Escape from Alcatraz,1979,112,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0
Adventure,Kelly's Heroes,1970,144,7.6,Brian G. Hutton,Clint Eastwood,45338,1378435.0,50.0
Animation,The Jungle Book,1967,78,7.6,Wolfgang Reitherman,Phil Harris,166409,141843612.0,65.0
Biography,Midnight Express,1978,121,7.6,Alan Parker,Brad Davis,73662,35000000.0,59.0
Comedy,Breakfast at Tiffany's,1961,115,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
Crime,The 39 Steps,1935,86,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0
Drama,Lifeboat,1944,97,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
Family,Willy Wonka & the Chocolate Factory,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Nosferatu,1922,94,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
Film-Noir,Shadow of a Doubt,1943,108,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
Horror,The Others,2001,101,7.6,Alejandro Amenbar,Nicole Kidman,337651,96522687.0,74.0
Mystery,Lost Highway,1997,134,7.6,David Lynch,Bill Pullman,131101,3796699.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,The Outlaw Josey Wales,1976,135,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

In [16]:
imdb.groupby('Genre').nth(7) #every group 7th row

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
28,The Silence of the Lambs,1991,118,Crime,8.6,Jonathan Demme,Jodie Foster,1270197,130742922.0,85.0
29,Star Wars,1977,121,Action,8.6,George Lucas,Mark Hamill,1231473,322740140.0,90.0
34,Whiplash,2014,106,Drama,8.5,Damien Chazelle,Miles Teller,717585,13092000.0,88.0
70,Mononoke-hime,1997,134,Animation,8.4,Hayao Miyazaki,Yji Matsuda,343171,2375308.0,76.0
95,Amlie,2001,122,Comedy,8.3,Jean-Pierre Jeunet,Audrey Tautou,703810,33225499.0,69.0
107,Amadeus,1984,160,Biography,8.3,Milos Forman,F. Murray Abraham,369007,51973029.0,88.0
137,Queen,2013,146,Adventure,8.2,Vikas Bahl,Kangana Ranaut,60701,1429534.0,NaN
714,The Lady Vanishes,1938,96,Mystery,7.8,Alfred Hitchcock,Margaret Lockwood,47400,474203697.0,98.0
844,Halloween,1978,91,Horror,7.7,John Carpenter,Donald Pleasence,233106,47000000.0,87.0

In [17]:
imdb.groupby('Genre').describe() # group wise summary

          Runtime                                                              \
            count        mean        std    min     25%    50%     75%    max
Genre
Action      172.0  129.046512  28.500706   45.0  110.75  127.5  143.25  321.0
Adventure    72.0  134.111111  33.317320   88.0  109.00  127.0  149.00  228.0
Animation    82.0   99.585366  14.530471   71.0   90.00   99.5  106.75  137.0
Biography    88.0  136.022727  25.514466   93.0  120.00  129.0  146.25  209.0
Comedy      155.0  112.129032  22.946213   68.0   96.00  106.0  124.50  188.0
Crime       107.0  126.392523  27.689231   80.0  106.50  122.0  141.50  229.0
Drama       289.0  124.737024  27.740490   64.0  105.00  121.0  137.00  242.0
Family        2.0  107.500000  10.606602  100.0  103.75  107.5  111.25  115.0
Fantasy       2.0   85.000000  12.727922   76.0   80.50   85.0   89.50   94.0
Film-Noir     3.0  104.000000   4.000000  100.0  102.00  104.0  106.00  108.0
Horror       11.0  102.090909  13.604812   71.0   98.00  103.0  109.00  122.0
Mystery      12.0  119.083333  14.475423   96.0  110.75  117.5  130.25  138.0
Thriller      1.0  108.000000        NaN  108.0  108.00  108.0  108.00  108.0
Western       4.0  148.250000  17.153717  132.0  134.25  148.0  162.00  165.0

          IMDB_Rating            ...         Gross              Metascore  \
                count      mean  ...           75%          max     count
Genre                            ...
Action          172.0  7.949419  ...  2.674437e+08  936662225.0     143.0
Adventure        72.0  7.937500  ...  1.998070e+08  874211619.0      64.0
Animation        82.0  7.930488  ...  2.520612e+08  873839108.0      75.0
Biography        88.0  7.938636  ...  9.829924e+07  753585104.0      79.0
Comedy          155.0  7.901290  ...  8.107809e+07  886752933.0     125.0
Crime           107.0  8.016822  ...  7.102163e+07  790482117.0      87.0
Drama           289.0  7.957439  ...  1.164461e+08  924558264.0     241.0
Family            2.0  7.800000  ...  3.273329e+08  435110554.0       2.0
Fantasy           2.0  8.000000  ...  4.182577e+08  445151978.0       0.0
Film-Noir         3.0  7.966667  ...  6.273068e+07  123353292.0       3.0
Horror           11.0  7.909091  ...  1.362817e+08  298791505.0      11.0
Mystery          12.0  7.975000  ...  1.310949e+08  474203697.0       8.0
Thriller          1.0  7.800000  ...  1.755074e+07   17550741.0       1.0
Western           4.0  8.350000  ...  1.920000e+07   31800000.0       4.0


                mean        std   min    25%   50%    75%    max
Genre
Action     73.419580  12.421252  33.0  65.00  74.0  82.00   98.0
Adventure  78.437500  12.345393  41.0  69.75  80.5  87.25  100.0
Animation  81.093333   8.813646  61.0  75.00  82.0  87.50   96.0
Biography  76.240506  11.028187  48.0  70.50  76.0  84.50   97.0
Comedy     78.720000  11.829160  45.0  72.00  79.0  88.00   99.0
Crime      77.080460  13.099102  47.0  69.50  77.0  87.00  100.0
Drama      79.701245  12.744687  28.0  72.00  82.0  89.00  100.0
Family     79.000000  16.970563  67.0  73.00  79.0  85.00   91.0
Fantasy          NaN        NaN   NaN    NaN   NaN    NaN    NaN
Film-Noir  95.666667   1.527525  94.0  95.00  96.0  96.50   97.0
Horror     80.000000  15.362291  46.0  77.50  87.0  88.50   97.0
Mystery    79.125000  18.604435  52.0  65.25  77.0  98.50  100.0
Thriller   81.000000        NaN  81.0  81.00  81.0  81.00   81.0
Western    78.250000   9.032349  69.0  72.75  77.0  82.50   90.0

[14 rows x 40 columns]

In [18]:
imdb.groupby('Genre').groups # dictionary where keys are genres are values are list of indexes of rows

{'Action': [2, 5, 8, 10, 13, 14, 16, 29, 30, 31, 39, 42, 44, 55, 57, 59, 60, 63, 68, 72, 106, 109, 129, 130, 134, 140, 142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194, 201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320, 325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357, 362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482, 488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570, 573, 577, 582, 583, 602, 605, 608, 615, 623, ...], 'Adventure': [21, 47, 93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209, 226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361, 366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514, 537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681, 686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912, 919, 947, 957, 964, 966, 984, 991], 'Animation': [23, 43, 46, 56, 58, 61, 66, 70, 101, 135, 146, 151, 158, 170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330, 332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469, 499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640, 643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771, 783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956, 971, 976, 986, 992], 'Biography': [7, 15, 18, 35, 38, 54, 102, 107, 131, 139, 147, 157, 159, 173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298, 317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416, 418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606, 614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748, 753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858, 877, 882, 897, 910, 915, 923, 940, 949, 952, 987], 'Comedy': [19, 26, 51, 52, 64, 78, 83, 95, 96, 112, 117, 120, 127, 128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238, 240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318, 322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435, 445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481, 490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541, 547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626, 630, 660, 662, 667, 679, 680, 683, 687, 701, ...], 'Crime': [1, 3, 4, 6, 22, 25, 27, 28, 33, 37, 41, 71, 77, 79, 86, 87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163, 164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287, 288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442, 444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523, 527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664, 669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811, 823, 827, 833, 885, 895, 921, 922, 926, 938, ...], 'Drama': [0, 9, 11, 17, 20, 24, 32, 34, 36, 40, 45, 50, 53, 62, 65, 67, 73, 74, 76, 80, 82, 84, 85, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100, 104, 105, 121, 122, 124, 126, 138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184, 185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234, 237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269, 272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295, 296, 297, 302, 303, 307, 310, 312, 314, 315, ...], 'Family': [688, 698], 'Fantasy': [321, 568], 'Film-Noir': [309, 456, 712], 'Horror': [49, 75, 271, 419, 544, 707, 724, 844, 876, 932, 948], 'Mystery': [69, 81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961], 'Thriller': [700], 'Western': [12, 48, 115, 691]}

In [19]:
imdb.groupby('Genre').agg({   # we can apply more than one agg function at once
    'Runtime':'mean',
    'IMDB_Rating':'median',
    'No_of_Votes':'sum'
})

              Runtime  IMDB_Rating  No_of_Votes
Genre
Action     129.046512          7.9     72282412
Adventure  134.111111          7.9     22576163
Animation   99.585366          7.9     21978630
Biography  136.022727          7.9     24006844
Comedy     112.129032          7.9     27620327
Crime      126.392523          8.0     33533615
Drama      124.737024          8.0     61367304
Family     107.500000          7.8       551221
Fantasy     85.000000          8.0       146222
Film-Noir  104.000000          8.0       367215
Horror     102.090909          7.8      3742556
Mystery    119.083333          8.0      4203004
Thriller   108.000000          7.8        27733
Western    148.250000          8.4      1289665

In [20]:
imdb.groupby('Genre').agg({
    'Runtime':['mean','max','min']
})

              Runtime
                 mean  max  min
Genre
Action     129.046512  321   45
Adventure  134.111111  228   88
Animation   99.585366  137   71
Biography  136.022727  209   93
Comedy     112.129032  188   68
Crime      126.392523  229   80
Drama      124.737024  242   64
Family     107.500000  115  100
Fantasy     85.000000   94   76
Film-Noir  104.000000  108  100
Horror     102.090909  122   71
Mystery    119.083333  138   96
Thriller   108.000000  108  108
Western    148.250000  165  132

In [21]:
for group,data in imdb.groupby('Genre'):  # iterate through each genre and prints genre and corresponding mini dataframe
  print(group)
  print(data)

Action
                                          Series_Title Released_Year  Runtime  \
2                                      The Dark Knight          2008      152
5        The Lord of the Rings: The Return of the King          2003      201
8                                            Inception          2010      148
10   The Lord of the Rings: The Fellowship of the Ring          2001      178
13               The Lord of the Rings: The Two Towers          2002      179
..                                                 ...           ...      ...
968                                       Falling Down          1993      113
979                                      Lethal Weapon          1987      109
982                                          Mad Max 2          1981       96
983                                       The Warriors          1979       92
985                               Escape from Alcatraz          1979      112

      Genre  IMDB_Rating           Director              Star1  No_of_Votes  \
2    Action          9.0  Christopher Nolan     Christian Bale      2303232
5    Action          8.9      Peter Jackson        Elijah Wood      1642758
8    Action          8.8  Christopher Nolan  Leonardo DiCaprio      2067042
10   Action          8.8      Peter Jackson        Elijah Wood      1661481
13   Action          8.7      Peter Jackson        Elijah Wood      1485555
..      ...          ...                ...                ...          ...
968  Action          7.6    Joel Schumacher    Michael Douglas       171640
979  Action          7.6     Richard Donner         Mel Gibson       236894
982  Action          7.6      George Miller         Mel Gibson       166588
983  Action          7.6        Walter Hill       Michael Beck        93878
985  Action          7.6         Don Siegel     Clint Eastwood       121731

           Gross  Metascore
2    534858444.0       84.0
5    377845905.0       94.0
8    292576195.0       74.0
10   315544750.0       92.0
13   342551365.0       87.0
..           ...        ...
968   40903593.0       56.0
979   65207127.0       68.0
982   12465371.0       77.0
983   22490039.0       65.0
985   43000000.0       76.0

[172 rows x 10 columns]
Adventure
                       Series_Title Released_Year  Runtime      Genre  \
21                     Interstellar          2014      169  Adventure
47               Back to the Future          1985      116  Adventure
93             Inglourious Basterds          2009      153  Adventure
110                        Das Boot          1981      149  Adventure
114           2001: A Space Odyssey          1968      149  Adventure
..                              ...           ...      ...        ...
957  Fear and Loathing in Las Vegas          1998      118  Adventure
964                        Dead Man          1995      121  Adventure
966                       Apollo 13            PG      140  Adventure
984                The Muppet Movie          1979       95  Adventure
991                  Kelly's Heroes          1970      144  Adventure

     IMDB_Rating           Director                Star1  No_of_Votes  \
21           8.6  Christopher Nolan  Matthew McConaughey      1512360
47           8.5    Robert Zemeckis       Michael J. Fox      1058081
93           8.3  Quentin Tarantino            Brad Pitt      1267869
110          8.3  Wolfgang Petersen      Jrgen Prochnow       231855
114          8.3    Stanley Kubrick          Keir Dullea       603517
..           ...                ...                  ...          ...
957          7.6      Terry Gilliam          Johnny Depp       259753
964          7.6       Jim Jarmusch          Johnny Depp        90442
966          7.6         Ron Howard            Tom Hanks       269197
984          7.6      James Frawley           Jim Henson        32802
991          7.6    Brian G. Hutton       Clint Eastwood        45338

           Gross  Metascore
21   188020017.0       74.0
47   210609762.0       87.0
93   120540719.0       69.0
110   11487676.0       86.0
114   56954992.0       84.0
..           ...        ...
957   10680275.0       41.0
964    1037847.0       62.0
966  173837933.0       77.0
984   76657000.0       74.0
991    1378435.0       50.0

[72 rows x 10 columns]
Animation
                          Series_Title Released_Year  Runtime      Genre  \
23       Sen to Chihiro no kamikakushi          2001      125  Animation
43                       The Lion King          1994       88  Animation
46                      Hotaru no haka          1988       89  Animation
56                      Kimi no na wa.          2016      106  Animation
58   Spider-Man: Into the Spider-Verse          2018      117  Animation
..                                 ...           ...      ...        ...
956                              Mulan          1998       88  Animation
971                  Omohide poro poro          1991      118  Animation
976                 The Little Mermaid          1989       83  Animation
986                     Watership Down          1978       91  Animation
992                    The Jungle Book          1967       78  Animation

     IMDB_Rating             Director             Star1  No_of_Votes  \
23           8.6       Hayao Miyazaki     Daveigh Chase       651376
43           8.5         Roger Allers       Rob Minkoff       942045
46           8.5        Isao Takahata   Tsutomu Tatsumi       235231
56           8.4       Makoto Shinkai  Rynosuke Kamiki       194838
58           8.4      Bob Persichetti      Peter Ramsey       375110
..           ...                  ...               ...          ...
956          7.6        Tony Bancroft        Barry Cook       256906
971          7.6        Isao Takahata         Miki Imai        27071
976          7.6         Ron Clements       John Musker       237696
986          7.6         Martin Rosen       John Hubley        33656
992          7.6  Wolfgang Reitherman       Phil Harris       166409

           Gross  Metascore
23    10055859.0       96.0
43   422783777.0       88.0
46   150734678.0       94.0
56     5017246.0       79.0
58   190241310.0       87.0
..           ...        ...
956  120620254.0       71.0
971     453243.0       90.0
976  111543479.0       88.0
986  232841485.0       64.0
992  141843612.0       65.0

[82 rows x 10 columns]
Biography
          Series_Title Released_Year  Runtime      Genre  IMDB_Rating  \
7     Schindler's List          1993      195  Biography          8.9
15          Goodfellas          1990      146  Biography          8.7
18            Hamilton          2020      160  Biography          8.6
35    The Intouchables          2011      112  Biography          8.5
38         The Pianist          2002      150  Biography          8.5
..                 ...           ...      ...        ...          ...
923     La Vie En Rose          2007      140  Biography          7.6
940  Finding Neverland          2004      106  Biography          7.6
949               Blow          2001      124  Biography          7.6
952      The Hurricane          1999      146  Biography          7.6
987   Midnight Express          1978      121  Biography          7.6

             Director               Star1  No_of_Votes        Gross  Metascore
7    Steven Spielberg         Liam Neeson      1213505   96898818.0       94.0
15    Martin Scorsese      Robert De Niro      1020727   46836394.0       90.0
18        Thomas Kail  Lin-Manuel Miranda        55291  440984783.0       90.0
35    Olivier Nakache       ric Toledano       760360   13182281.0       57.0
38     Roman Polanski        Adrien Brody       729603   32572577.0       85.0
..                ...                 ...          ...          ...        ...
923     Olivier Dahan    Marion Cotillard        82781   10301706.0       66.0
940      Marc Forster         Johnny Depp       198677   51680613.0       67.0
949         Ted Demme         Johnny Depp       240714   52990775.0       52.0
952    Norman Jewison   Denzel Washington        91557   50668906.0       74.0
987       Alan Parker          Brad Davis        73662   35000000.0       59.0

[88 rows x 10 columns]
Comedy
                                       Series_Title Released_Year  Runtime  \
19                                     Gisaengchung          2019      132
26                                  La vita  bella          1997      116
51                                     Modern Times          1936       87
52                                      City Lights          1931       87
64                                         3 Idiots          2009      170
..                                              ...           ...      ...
977  The Naked Gun: From the Files of Police Squad!          1988       85
978                    Planes, Trains & Automobiles          1987       93
989                                The Long Goodbye          1973      112
994                              A Hard Day's Night          1964       87
995                          Breakfast at Tiffany's          1961      115

      Genre  IMDB_Rating         Director            Star1  No_of_Votes  \
19   Comedy          8.6     Bong Joon Ho     Kang-ho Song       552778
26   Comedy          8.6  Roberto Benigni  Roberto Benigni       623629
51   Comedy          8.5  Charles Chaplin  Charles Chaplin       217881
52   Comedy          8.5  Charles Chaplin  Charles Chaplin       167839
64   Comedy          8.4  Rajkumar Hirani       Aamir Khan       344445
..      ...          ...              ...              ...          ...
977  Comedy          7.6     David Zucker   Leslie Nielsen       152871
978  Comedy          7.6      John Hughes     Steve Martin       124773
989  Comedy          7.6    Robert Altman    Elliott Gould        26337
994  Comedy          7.6   Richard Lester      John Lennon        40351
995  Comedy          7.6    Blake Edwards   Audrey Hepburn       166544

           Gross  Metascore
19    53367844.0       96.0
26    57598247.0       59.0
51      163245.0       96.0
52       19181.0       99.0
64     6532908.0       67.0
..           ...        ...
977   78756177.0       76.0
978   49530280.0       72.0
989     959000.0       87.0
994   13780024.0       96.0
995  679874270.0       76.0

[155 rows x 10 columns]
Crime
                Series_Title Released_Year  Runtime  Genre  IMDB_Rating  \
1              The Godfather          1972      175  Crime          9.2
3     The Godfather: Part II          1974      202  Crime          9.0
4               12 Angry Men          1957       96  Crime          9.0
6               Pulp Fiction          1994      154  Crime          8.9
22            Cidade de Deus          2002      130  Crime          8.6
..                       ...           ...      ...    ...          ...
958              Funny Games          1997      108  Crime          7.6
960                 Sleepers          1996      147  Crime          7.6
974  The Godfather: Part III          1990      162  Crime          7.6
980             Blood Simple          1984       99  Crime          7.6
999             The 39 Steps          1935       86  Crime          7.6

                 Director           Star1  No_of_Votes        Gross  Metascore
1    Francis Ford Coppola   Marlon Brando      1620367  134966411.0      100.0
3    Francis Ford Coppola       Al Pacino      1129952   57300000.0       90.0
4            Sidney Lumet     Henry Fonda       689845    4360000.0       96.0
6       Quentin Tarantino   John Travolta      1826188  107928762.0       94.0
22     Fernando Meirelles      Ktia Lund       699256    7563397.0       79.0
..                    ...             ...          ...          ...        ...
958        Michael Haneke  Susanne Lothar        65058  217345863.0       69.0
960        Barry Levinson  Robert De Niro       186734   49100000.0       49.0
974  Francis Ford Coppola       Al Pacino       359809   66666062.0       60.0
980             Joel Coen      Ethan Coen        87745    2150000.0       82.0
999      Alfred Hitchcock    Robert Donat        51853  302787539.0       93.0

[107 rows x 10 columns]
Drama
                        Series_Title Released_Year  Runtime  Genre  \
0           The Shawshank Redemption          1994      142  Drama
9                         Fight Club          1999      139  Drama
11                      Forrest Gump          1994      142  Drama
17   One Flew Over the Cuckoo's Nest          1975      133  Drama
20                   Soorarai Pottru          2020      153  Drama
..                               ...           ...      ...    ...
990                     Gi la testa          1971      157  Drama
993                           Blowup          1966      111  Drama
996                            Giant          1956      201  Drama
997            From Here to Eternity          1953      118  Drama
998                         Lifeboat          1944       97  Drama

     IMDB_Rating                Director              Star1  No_of_Votes  \
0            9.3          Frank Darabont        Tim Robbins      2343110
9            8.8           David Fincher          Brad Pitt      1854740
11           8.8         Robert Zemeckis          Tom Hanks      1809221
17           8.7            Milos Forman     Jack Nicholson       918088
20           8.6           Sudha Kongara             Suriya        54995
..           ...                     ...                ...          ...
990          7.6            Sergio Leone        Rod Steiger        30144
993          7.6  Michelangelo Antonioni     David Hemmings        56513
996          7.6          George Stevens   Elizabeth Taylor        34075
997          7.6          Fred Zinnemann     Burt Lancaster        43374
998          7.6        Alfred Hitchcock  Tallulah Bankhead        26471

           Gross  Metascore
0     28341469.0       80.0
9     37030102.0       66.0
11   330252182.0       82.0
17   112000000.0       83.0
20   556832648.0        NaN
..           ...        ...
990     696690.0       77.0
993  632532802.0       82.0
996  195217415.0       84.0
997   30500000.0       85.0
998  852142728.0       78.0

[289 rows x 10 columns]
Family
                            Series_Title Released_Year  Runtime   Genre  \
688           E.T. the Extra-Terrestrial          1982      115  Family
698  Willy Wonka & the Chocolate Factory          1971      100  Family

     IMDB_Rating          Director         Star1  No_of_Votes        Gross  \
688          7.8  Steven Spielberg  Henry Thomas       372490  435110554.0
698          7.8        Mel Stuart   Gene Wilder       178731    4000000.0

     Metascore
688       91.0
698       67.0
Fantasy
                     Series_Title Released_Year  Runtime    Genre  \
321  Das Cabinet des Dr. Caligari          1920       76  Fantasy
568                     Nosferatu          1922       94  Fantasy

     IMDB_Rating      Director          Star1  No_of_Votes        Gross  \
321          8.1  Robert Wiene  Werner Krauss        57428  337574718.0
568          7.9   F.W. Murnau    Max Schreck        88794  445151978.0

     Metascore
321        NaN
568        NaN
Film-Noir
           Series_Title Released_Year  Runtime      Genre  IMDB_Rating  \
309       The Third Man          1949      104  Film-Noir          8.1
456  The Maltese Falcon          1941      100  Film-Noir          8.0
712   Shadow of a Doubt          1943      108  Film-Noir          7.8

             Director            Star1  No_of_Votes        Gross  Metascore
309        Carol Reed     Orson Welles       158731     449191.0       97.0
456       John Huston  Humphrey Bogart       148928    2108060.0       96.0
712  Alfred Hitchcock    Teresa Wright        59556  123353292.0       94.0
Horror
                 Series_Title Released_Year  Runtime   Genre  IMDB_Rating  \
49                     Psycho          1960      109  Horror          8.5
75                      Alien          1979      117  Horror          8.4
271                 The Thing          1982      109  Horror          8.1
419              The Exorcist          1973      122  Horror          8.0
544  Night of the Living Dead          1968       96  Horror          7.9
707             The Innocents          1961      100  Horror          7.8
724                   Get Out          2017      104  Horror          7.7
844                 Halloween          1978       91  Horror          7.7
876         The Invisible Man          1933       71  Horror          7.7
932                       Saw          2004      103  Horror          7.6
948                The Others          2001      101  Horror          7.6

               Director             Star1  No_of_Votes        Gross  Metascore
49     Alfred Hitchcock   Anthony Perkins       604211   32000000.0       97.0
75         Ridley Scott  Sigourney Weaver       787806   78900000.0       89.0
271      John Carpenter      Kurt Russell       371271   13782838.0       57.0
419    William Friedkin     Ellen Burstyn       362393  232906145.0       81.0
544    George A. Romero       Duane Jones       116557      89029.0       89.0
707        Jack Clayton      Deborah Kerr        27007    2616000.0       88.0
724        Jordan Peele    Daniel Kaluuya       492851  176040665.0       85.0
844      John Carpenter  Donald Pleasence       233106   47000000.0       87.0
876         James Whale      Claude Rains        30683  298791505.0       87.0
932           James Wan        Cary Elwes       379020   56000369.0       46.0
948  Alejandro Amenbar     Nicole Kidman       337651   96522687.0       74.0
Mystery
          Series_Title Released_Year  Runtime    Genre  IMDB_Rating  \
69             Memento          2000      113  Mystery          8.4
81         Rear Window          1954      112  Mystery          8.4
119            Vertigo          1958      128  Mystery          8.3
145     Shutter Island          2010      138  Mystery          8.2
220            Kahaani          2012      122  Mystery          8.1
393     Twelve Monkeys          1995      129  Mystery          8.0
420             Sleuth          1972      138  Mystery          8.0
714  The Lady Vanishes          1938       96  Mystery          7.8
829          Spoorloos          1988      107  Mystery          7.7
899          El cuerpo          2012      112  Mystery          7.6
959          Dark City          1998      100  Mystery          7.6
961       Lost Highway          1997      134  Mystery          7.6

                 Director                     Star1  No_of_Votes        Gross  \
69      Christopher Nolan                Guy Pearce      1125712   25544867.0
81       Alfred Hitchcock             James Stewart       444074   36764313.0
119      Alfred Hitchcock             James Stewart       364368    3200000.0
145       Martin Scorsese         Leonardo DiCaprio      1129894  128012934.0
220           Sujoy Ghosh               Vidya Balan        57806    1035953.0
393         Terry Gilliam              Bruce Willis       578443   57141459.0
420  Joseph L. Mankiewicz          Laurence Olivier        44748    4081254.0
714      Alfred Hitchcock         Margaret Lockwood        47400  474203697.0
829        George Sluizer  Bernard-Pierre Donnadieu        33982  367916835.0
899           Oriol Paulo             Jose Coronado        57549  140340673.0
959           Alex Proyas              Rufus Sewell       187927   14378331.0
961           David Lynch              Bill Pullman       131101    3796699.0

     Metascore
69        80.0
81       100.0
119      100.0
145       63.0
220        NaN
393       74.0
420        NaN
714       98.0
829        NaN
899        NaN
959       66.0
961       52.0
Thriller
        Series_Title Released_Year  Runtime     Genre  IMDB_Rating  \
700  Wait Until Dark          1967      108  Thriller          7.8

          Director           Star1  No_of_Votes       Gross  Metascore

In [22]:
imdb['Series_Title'].str.startswith('A').sum() # total number of movies that start with 'A'

np.int64(63)

In [23]:
imdb.groupby('Genre')['Series_Title'].apply(lambda x: x.str.startswith('A')).sum()

np.int64(63)

In [24]:
imdb.groupby('Genre')['IMDB_Rating'].rank(ascending=False) # ranking movie according to imdb rating

0        1.0
1        1.0
2        1.0
3        2.5
4        2.5
       ...
995    147.0
996    272.5
997    272.5
998    272.5
999    101.0
Name: IMDB_Rating, Length: 1000, dtype: float64

In [25]:
duo=imdb.groupby(['Genre','Director'])

In [26]:
duo.size()

Genre     Director
Action    Abhishek Chaubey         1
          Aditya Dhar              1
          Akira Kurosawa           4
          Alejandro G. Irritu    1
          Andrew Davis             1
                                  ..
Mystery   Sujoy Ghosh              1
          Terry Gilliam            1
Thriller  Terence Young            1
Western   Clint Eastwood           1
          Sergio Leone             3
Length: 749, dtype: int64

In [27]:
combo=imdb.groupby(['Star1','Director'])['IMDB_Rating'].idxmax() # best actor director combo

In [28]:
imdb.iloc[combo]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
247,Lagaan: Once Upon a Time in India,2001,224,Adventure,8.1,Ashutosh Gowariker,Aamir Khan,105036,70147.0,84.0
240,Dil Chahta Hai,2001,183,Comedy,8.1,Farhan Akhtar,Aamir Khan,66803,300000.0,NaN
57,Dangal,2016,161,Action,8.4,Nitesh Tiwari,Aamir Khan,156479,12391761.0,NaN
64,3 Idiots,2009,170,Comedy,8.4,Rajkumar Hirani,Aamir Khan,344445,6532908.0,67.0
166,Andaz Apna Apna,1994,160,Action,8.2,Rajkumar Santoshi,Aamir Khan,49300,213351844.0,NaN
...,...,...,...,...,...,...,...,...,...,...
967,Trois couleurs: Blanc,1994,92,Comedy,7.6,Krzysztof Kieslowski,Zbigniew Zamachowski,64390,1464625.0,88.0
754,(500) Days of Summer,2009,95,Comedy,7.7,Marc Webb,Zooey Deschanel,472242,32391374.0,76.0
92,Babam ve Oglum,2005,112,Drama,8.3,agan Irmak,etin Tekindor,78925,461855363.0,NaN
35,The Intouchables,2011,112,Biography,8.5,Olivier Nakache,ric Toledano,760360,13182281.0,57.0
381,Vizontele,2001,110,Comedy,8.0,Yilmaz Erdogan,mer Faruk Sorak,33592,200178699.0,NaN

In [29]:
deli=pd.read_csv("deliveries.csv")

In [30]:
deli.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [31]:
deli.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10) #top 10 batsman interms of runns

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [32]:
sixes=deli[deli['total_runs']==6]

In [33]:
sixes.groupby("batsman")['total_runs'].count().sort_values(ascending=False).head(10) #top 10 batsman interms of sixes

batsman
CH Gayle          322
AB de Villiers    211
MS Dhoni          207
SK Raina          194
RG Sharma         193
V Kohli           190
DA Warner         179
SR Watson         178
KA Pollard        174
YK Pathan         161
Name: total_runs, dtype: int64

In [34]:
imdb['Director']  #point 4 in pandas2 learnings.

0            Frank Darabont
1      Francis Ford Coppola
2         Christopher Nolan
3      Francis Ford Coppola
4              Sidney Lumet
               ...
995           Blake Edwards
996          George Stevens
997          Fred Zinnemann
998        Alfred Hitchcock
999        Alfred Hitchcock
Name: Director, Length: 1000, dtype: object

In [35]:
imdb[['Director']]

                 Director
0          Frank Darabont
1    Francis Ford Coppola
2       Christopher Nolan
3    Francis Ford Coppola
4            Sidney Lumet
..                    ...
995         Blake Edwards
996        George Stevens
997        Fred Zinnemann
998      Alfred Hitchcock
999      Alfred Hitchcock

[1000 rows x 1 columns]

**2.All about merging, joining and concatenation**

In [37]:
nov=pd.read_csv("reg-month1.csv")

In [38]:
dec=pd.read_csv("reg-month2.csv")

In [45]:
x=pd.concat([nov,dec])
x

    student_id  course_id
0           23          1
1           15          5
2           18          6
3           23          4
4           16          9
5           18          1
6            1          1
7            7          8
8           22          3
9           15          1
10          19          4
11           1          6
12           7         10
13          11          7
14          13          3
15          24          4
16          21          1
17          16          5
18          23          3
19          17          7
20          23          6
21          25          1
22          19          2
23          25         10
24           3          3
0            3          5
1           16          7
2           12         10
3           12          1
4           14          9
5            7          7
6            7          2
7           16          3
8           17         10
9           11          8
10          14          6
11          12          5
12          12          7
13          18          8
14           1         10
15           1          9
16           2          5
17           7          6
18          22          5
19          22          6
20          23          9
21          23          5
22          14          4
23          14          1
24          11         10
25          42          9
26          50          8
27          38          1

In [44]:
x.iloc[0]

student_id    23
course_id      1
Name: 0, dtype: int64

In [46]:
y=pd.concat([nov,dec],keys=['nov','dec'])
y #retaining old index yet making a difference

        student_id  course_id
nov 0           23          1
    1           15          5
    2           18          6
    3           23          4
    4           16          9
    5           18          1
    6            1          1
    7            7          8
    8           22          3
    9           15          1
    10          19          4
    11           1          6
    12           7         10
    13          11          7
    14          13          3
    15          24          4
    16          21          1
    17          16          5
    18          23          3
    19          17          7
    20          23          6
    21          25          1
    22          19          2
    23          25         10
    24           3          3
dec 0            3          5
    1           16          7
    2           12         10
    3           12          1
    4           14          9
    5            7          7
    6            7          2
    7           16          3
    8           17         10
    9           11          8
    10          14          6
    11          12          5
    12          12          7
    13          18          8
    14           1         10
    15           1          9
    16           2          5
    17           7          6
    18          22          5
    19          22          6
    20          23          9
    21          23          5
    22          14          4
    23          14          1
    24          11         10
    25          42          9
    26          50          8
    27          38          1

In [47]:
y.loc['nov',0]

student_id    23
course_id      1
Name: (nov, 0), dtype: int64

In [48]:
y.loc['dec',0]

student_id    3
course_id     5
Name: (dec, 0), dtype: int64

In [49]:
pd.concat([nov,dec],axis=1) # stacks horizontally

    student_id  course_id  student_id  course_id
0         23.0        1.0           3          5
1         15.0        5.0          16          7
2         18.0        6.0          12         10
3         23.0        4.0          12          1
4         16.0        9.0          14          9
5         18.0        1.0           7          7
6          1.0        1.0           7          2
7          7.0        8.0          16          3
8         22.0        3.0          17         10
9         15.0        1.0          11          8
10        19.0        4.0          14          6
11         1.0        6.0          12          5
12         7.0       10.0          12          7
13        11.0        7.0          18          8
14        13.0        3.0           1         10
15        24.0        4.0           1          9
16        21.0        1.0           2          5
17        16.0        5.0           7          6
18        23.0        3.0          22          5
19        17.0        7.0          22          6
20        23.0        6.0          23          9
21        25.0        1.0          23          5
22        19.0        2.0          14          4
23        25.0       10.0          14          1
24         3.0        3.0          11         10
25         NaN        NaN          42          9
26         NaN        NaN          50          8
27         NaN        NaN          38          1

In [50]:
students=pd.read_csv("students.csv")

In [51]:
students.head()

   student_id            name  partner
0           1   Kailash Harjo       23
1           2     Esha Butala        1
2           3  Parveen Bhalla        3
3           4     Marlo Dugal       14
4           5     Kusum Bahri        6

In [52]:
students.merge(nov) # by default:- inner join between tables on common column

    student_id                name  partner  course_id
0            1       Kailash Harjo       23          1
1            1       Kailash Harjo       23          6
2            3      Parveen Bhalla        3          3
3            7        Tarun Thaker        9          8
4            7        Tarun Thaker        9         10
5           11  David Mukhopadhyay       20          7
6           13      Munni Varghese       24          3
7           15           Preet Sha       16          5
8           15           Preet Sha       16          1
9           16        Elias Dodiya       25          9
10          16        Elias Dodiya       25          5
11          17        Yasmin Palan        7          7
12          18     Fardeen Mahabir       13          6
13          18     Fardeen Mahabir       13          1
14          19        Qabeel Raman       12          4
15          19        Qabeel Raman       12          2
16          21          Seema Kota       15          1
17          22          Yash Sethi       21          3
18          23      Chhavi Lachman       18          1
19          23      Chhavi Lachman       18          4
20          23      Chhavi Lachman       18          3
21          23      Chhavi Lachman       18          6
22          24        Radhika Suri       17          4
23          25     Shashank DAlia        2          1
24          25     Shashank DAlia        2         10

In [55]:
courses=pd.read_csv("courses.csv")
courses.head()

   course_id       course_name  price
0          1            python   2499
1          2               sql   3499
2          3     data analysis   4999
3          4  machine learning   9999
4          5           tableau   2499

In [56]:
courses.merge(nov,how='left',on='course_id')  #all the rows from left table are present irrespective of match

    course_id       course_name  price  student_id
0           1            python   2499        23.0
1           1            python   2499        18.0
2           1            python   2499         1.0
3           1            python   2499        15.0
4           1            python   2499        21.0
5           1            python   2499        25.0
6           2               sql   3499        19.0
7           3     data analysis   4999        22.0
8           3     data analysis   4999        13.0
9           3     data analysis   4999        23.0
10          3     data analysis   4999         3.0
11          4  machine learning   9999        23.0
12          4  machine learning   9999        19.0
13          4  machine learning   9999        24.0
14          5           tableau   2499        15.0
15          5           tableau   2499        16.0
16          6          power bi   1899        18.0
17          6          power bi   1899         1.0
18          6          power bi   1899        23.0
19          7          ms sxcel   1599        11.0
20          7          ms sxcel   1599        17.0
21          8            pandas   1099         7.0
22          9            plotly    699        16.0
23         10           pyspark   2499         7.0
24         10           pyspark   2499        25.0
25         11             Numpy    699         NaN
26         12               C++   1299         NaN

In [57]:
courses.merge(nov,how='right',on='course_id') # opposite to left join can be achieved by reversing the tables

    course_id       course_name  price  student_id
0           1            python   2499          23
1           5           tableau   2499          15
2           6          power bi   1899          18
3           4  machine learning   9999          23
4           9            plotly    699          16
5           1            python   2499          18
6           1            python   2499           1
7           8            pandas   1099           7
8           3     data analysis   4999          22
9           1            python   2499          15
10          4  machine learning   9999          19
11          6          power bi   1899           1
12         10           pyspark   2499           7
13          7          ms sxcel   1599          11
14          3     data analysis   4999          13
15          4  machine learning   9999          24
16          1            python   2499          21
17          5           tableau   2499          16
18          3     data analysis   4999          23
19          7          ms sxcel   1599          17
20          6          power bi   1899          23
21          1            python   2499          25
22          2               sql   3499          19
23         10           pyspark   2499          25
24          3     data analysis   4999           3

In [58]:
students.merge(nov,how='outer',on='student_id') # entire data plus common rows

    student_id                name  partner  course_id
0            1       Kailash Harjo       23        1.0
1            1       Kailash Harjo       23        6.0
2            2         Esha Butala        1        NaN
3            3      Parveen Bhalla        3        3.0
4            4         Marlo Dugal       14        NaN
5            5         Kusum Bahri        6        NaN
6            6  Lakshmi Contractor       10        NaN
7            7        Tarun Thaker        9        8.0
8            7        Tarun Thaker        9       10.0
9            8      Radheshyam Dey        5        NaN
10           9   Nitika Chatterjee        4        NaN
11          10      Aayushman Sant        8        NaN
12          11  David Mukhopadhyay       20        7.0
13          12          Radha Dutt       19        NaN
14          13      Munni Varghese       24        3.0
15          14    Pranab Natarajan       22        NaN
16          15           Preet Sha       16        5.0
17          15           Preet Sha       16        1.0
18          16        Elias Dodiya       25        9.0
19          16        Elias Dodiya       25        5.0
20          17        Yasmin Palan        7        7.0
21          18     Fardeen Mahabir       13        6.0
22          18     Fardeen Mahabir       13        1.0
23          19        Qabeel Raman       12        4.0
24          19        Qabeel Raman       12        2.0
25          20       Hanuman Hegde       11        NaN
26          21          Seema Kota       15        1.0
27          22          Yash Sethi       21        3.0
28          23      Chhavi Lachman       18        1.0
29          23      Chhavi Lachman       18        4.0
30          23      Chhavi Lachman       18        3.0
31          23      Chhavi Lachman       18        6.0
32          24        Radhika Suri       17        4.0
33          25     Shashank DAlia        2        1.0
34          25     Shashank DAlia        2       10.0

In [62]:
courses.merge(nov,how='inner',on='course_id')['price'].sum() # total revenue in month of november

np.int64(89175)

In [63]:
xx=nov.merge(courses,how='inner',on='course_id') # create custom registration_table which contains std_id,name, price,

In [64]:
xx

    student_id  course_id       course_name  price
0           23          1            python   2499
1           15          5           tableau   2499
2           18          6          power bi   1899
3           23          4  machine learning   9999
4           16          9            plotly    699
5           18          1            python   2499
6            1          1            python   2499
7            7          8            pandas   1099
8           22          3     data analysis   4999
9           15          1            python   2499
10          19          4  machine learning   9999
11           1          6          power bi   1899
12           7         10           pyspark   2499
13          11          7          ms sxcel   1599
14          13          3     data analysis   4999
15          24          4  machine learning   9999
16          21          1            python   2499
17          16          5           tableau   2499
18          23          3     data analysis   4999
19          17          7          ms sxcel   1599
20          23          6          power bi   1899
21          25          1            python   2499
22          19          2               sql   3499
23          25         10           pyspark   2499
24           3          3     data analysis   4999

In [68]:
registrations_table=xx.merge(students,how='inner',on='student_id')[['student_id','name','price']]
registrations_table.head()

   student_id             name  price
0          23   Chhavi Lachman   2499
1          15        Preet Sha   2499
2          18  Fardeen Mahabir   1899
3          23   Chhavi Lachman   9999
4          16     Elias Dodiya    699

In [75]:
result=nov.merge(courses,how='inner',on='course_id').groupby(['course_name'])['price'].sum().sort_values(ascending=False)
result  # total revenue by each subject

course_name
machine learning    29997
data analysis       19996
python              14994
power bi             5697
pyspark              4998
tableau              4998
sql                  3499
ms sxcel             3198
pandas               1099
plotly                699
Name: price, dtype: int64

In [79]:
# reset_index() on series turns it into dataframe where old index becomes new column and new index is added
result=result.iloc[0:3,1].reset_index()
result

   index  price
0      0  29997
1      1  19996
2      2  14994

In [82]:
index=[('cse',2019),('cse',2020),('cse',2021),('ece',2019),('ece',2020),('ece',2021)] # multi index dataframem
multi=pd.Series([1,2,3,4,5,6],index=index)
multi

(cse, 2019)    1
(cse, 2020)    2
(cse, 2021)    3
(ece, 2019)    4
(ece, 2020)    5
(ece, 2021)    6
dtype: int64

In [84]:
multi[('ece',2020)]

np.int64(5)

In [87]:
multi2=pd.MultiIndex.from_product([['cse','ece','mech'],[2019,2020,2021,2022,2023]])

In [91]:
n=np.arange(15)
m=pd.Series(n,index=multi2)

In [92]:
m

cse   2019     0
      2020     1
      2021     2
      2022     3
      2023     4
ece   2019     5
      2020     6
      2021     7
      2022     8
      2023     9
mech  2019    10
      2020    11
      2021    12
      2022    13
      2023    14
dtype: int64

In [95]:
index=pd.MultiIndex.from_product([['cse'],[2019,2020,2021,2022]])
std=pd.DataFrame([[4.5,100],[3,120],[7,150],[8,180]],index=index,columns=['lpa','students'])
std

          lpa  students
cse 2019  4.5       100
    2020  3.0       120
    2021  7.0       150
    2022  8.0       180

In [96]:
std.unstack() # unstack converts multi d to dataframe by converting innermost index to column

     lpa                students
    2019 2020 2021 2022     2019 2020 2021 2022
cse  4.5  3.0  7.0  8.0      100  120  150  180

In [97]:
std.stack() # converts into multid by coverting innermost column to index

cse  2019  lpa           4.5
           students    100.0
     2020  lpa           3.0
           students    120.0
     2021  lpa           7.0
           students    150.0
     2022  lpa           8.0
           students    180.0
dtype: float64

In [98]:
df = pd.DataFrame({               # the table is in wide format
    'Student': ['A', 'B', 'C'],
    'Math': [90, 80, 70],
    'Science': [85, 75, 65]
})
df

  Student  Math  Science
0       A    90       85
1       B    80       75
2       C    70       65

In [99]:
df_melt=pd.melt(df,id_vars=['Student'],value_vars=['Science','Math'],value_name='Marks',var_name='Subject')
df_melt

  Student  Subject  Marks
0       A  Science     85
1       B  Science     75
2       C  Science     65
3       A     Math     90
4       B     Math     80
5       C     Math     70

In [104]:
df_melt.pivot(index='Student',columns='Subject',values='Marks') # converts long to wide format, only works when there are no duplicate values

Subject  Math  Science
Student
A          90       85
B          80       75
C          70       65

In [106]:
df_melt.pivot_table(index='Student',columns='Subject',values='Marks',aggfunc='mean') #pivot_table is more powerful than pivot works with nan values and we can also apply agg functions

Subject  Math  Science
Student
A        90.0     85.0
B        80.0     75.0
C        70.0     65.0

In [107]:
data = {
    "Employee": ["Ravi", "Anu", "Kiran", "Meena", "Arjun"],
    "Join_Date": [
        "2023-05-15",
        "2024-01-20",
        "2022-11-05",
        "2025-03-10",
        "2024-07-25"
    ],
    "Last_Worked": [
        "2024-12-31",
        "2025-06-15",
        "2023-12-01",
        "2025-09-01",
        "2025-01-10"
    ],
    "Salary": [50000, 60000, 55000, 70000, 65000]
}

df = pd.DataFrame(data)

In [108]:
df

  Employee   Join_Date Last_Worked  Salary
0     Ravi  2023-05-15  2024-12-31   50000
1      Anu  2024-01-20  2025-06-15   60000
2    Kiran  2022-11-05  2023-12-01   55000
3    Meena  2025-03-10  2025-09-01   70000
4    Arjun  2024-07-25  2025-01-10   65000

In [115]:
df['Join_Date']=pd.to_datetime(df['Join_Date'])
pd.to_datetime(df['Last_Worked'])

0   2024-12-31
1   2025-06-15
2   2023-12-01
3   2025-09-01
4   2025-01-10
Name: Last_Worked, dtype: datetime64[ns]

In [117]:
df['Year']=df['Join_Date'].dt.year
df['Month']=df['Join_Date'].dt.month
df['day']=df['Join_Date'].dt.day
df['day_name']=df['Join_Date'].dt.day_name()
df['month_name']=df['Join_Date'].dt.month_name()
df['quarter']=df['Join_Date'].dt.quarter

In [118]:
df

,Employee,Join_Date,Last_Worked,Salary,Year,Month,day,day_name,month_name,quarter
0,Ravi,2023-05-15,2024-12-31,50000,2023,5,15,Monday,May,2
1,Anu,2024-01-20,2025-06-15,60000,2024,1,20,Saturday,January,1
2,Kiran,2022-11-05,2023-12-01,55000,2022,11,5,Saturday,November,4
3,Meena,2025-03-10,2025-09-01,70000,2025,3,10,Monday,March,1
4,Arjun,2024-07-25,2025-01-10,65000,2024,7,25,Thursday,July,3

In [120]:
pd.date_range(start='2023/01/01',end='2023/03/27',freq='3D')

DatetimeIndex(['2023-01-01', '2023-01-04', '2023-01-07', '2023-01-10',
               '2023-01-13', '2023-01-16', '2023-01-19', '2023-01-22',
               '2023-01-25', '2023-01-28', '2023-01-31', '2023-02-03',
               '2023-02-06', '2023-02-09', '2023-02-12', '2023-02-15',
               '2023-02-18', '2023-02-21', '2023-02-24', '2023-02-27',
               '2023-03-02', '2023-03-05', '2023-03-08', '2023-03-11',
               '2023-03-14', '2023-03-17', '2023-03-20', '2023-03-23',
               '2023-03-26'],
              dtype='datetime64[ns]', freq='3D')